@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

thead {
  position: sticky;
  top: 0;
}

.usersSection {
  max-height: 100vh;
  margin: 2.5rem 0;
}
